@font-face {
    font-family: Test;
    src: url("assets/Ubuntu/Ubuntu-Regular.ttf");
    font-family: Testing;
    src: url("assets/Merriweather/Merriweather-Italic.ttf");

}

body {
    background-color: #282c34;
    color: #abb2bf;
    font-family: "Test", sans-serif;
    font-size: 18px;
}

.navbar {
    background-color: #e06c75;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    font-size: 16px;
}

.navbar > a {
    float: left;
    display: block;
    background-color: #abb2bf;
    color: #131613;
    text-align: center;
    padding: 6px 10px;
    text-decoration: none;
    border: 2px solid #4f4f4f;
    margin: 2px;
    font-family: "Testing", sans-serif;
}

.navbar > a:hover {
    background-color: #131613;
    color: #abb2bf;
}

.main {
    margin-top: 55px;
    display: block;
    margin-left: 32px;
    margin-right: 32px
}

h2 {
    text-align: center;
}
